*{
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    flex-direction: ;
}
header{
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}
h1{
    font-weight: 200;    
    color: hsl(234, 12%, 34%)    
}
h1 span{
    font-weight: 600;
    margin: 0;
}
h2{
    color: hsl(234, 12%, 34%);
    padding-bottom: 15px;
    margin: 0 auto;
}
p{
    color: hsl(229, 6%, 66%);
    margin: 0;
    margin-bottom: 45px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
    
}
.box{
    width: 350px;     
    background-color: #fff;
    margin: 15px;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}
.box-agua{
    border-top: 4px solid hsl(180, 62%, 55%);        
}
.box-rojo{
    border-top: 4px solid hsl(0, 78%, 62%);        
}
.box-azul{
    border-top: 4px solid hsl(212, 86%, 64%);        
}
.box-amarillo{
    border-top: 4px solid hsl(34, 97%, 64%);        
}

.box img{
    display: block;   
    margin-left: auto;
}
@media (min-width: 1200px){
    .box-align{
        transform: translateY(50%);
    }
}